@{
    ViewBag.Title = "Błąd";
}

<h2>Błędnie uzupełnione dane w formularzu tworzenia zadania</h2>


<div>
    @Html.ActionLink("Powrót do listy zadań", "Task", "Project", new {id = ViewBag.ProjectId }, null)
</div>
