@model BusinessLayer.RemoveFromProjectData
@{
    ViewBag.Title = "Zarządzanie Użytkownikami";
}

<h3>Czy na pewno chcesz udłączyć użytkownika od projektu?</h3>
<br />
<input type="submit" value="&nbsp;&nbsp;Nie&nbsp;&nbsp;" onclick="location.href='@Url.Action("Index", "User")'" />
&nbsp;&nbsp;
<input type="submit" value="&nbsp;&nbsp;Tak&nbsp;&nbsp;" onclick="location.href='@Url.Action("SubmitRemove", "User",
                                                                                new {User = Html.ValueFor(m => m.UserId),
                                                                                    Project = Html.ValueFor(m => m.ProjectId) })'" />

