
@{
    ViewBag.Title = "Error";
}

<h2>Wystąpił błąd podczas próby edycji uprawnień</h2>
<br/>
<div>
    @Html.ActionLink("Powrót do listy użytkowników", "UsersInProject", new { id = ViewBag.Id})
</div>